.menu {
    display: flex;
    justify-content: flex-end;
}

.menuItem {
    box-shadow: none !important;
}

.menuIcons {
    padding-right: 1rem;
}

.gridItem {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    margin-top: 4px !important;
    border-right: 1px solid #DDDCDC !important;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.gridItemNoBorder {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    margin-top: 4px !important;
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.cardContainerRetired {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    background: #ebebeb;
}

.cardContainerActive {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    background: #ffffff;
}

.statusGridItem {
    display: flex !important;
    flex-direction: column !important;
    margin-top: 0.25rem !important;
    align-items: flex-start !important;
    border-right: 1px solid #DDDCDC !important;
    padding: 0 0.5rem !important;
}

.draftStatusContainer {
    border-right: 1px solid #DDDCDC;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.draftStatusGroup {
    display: flex;
    align-items: center;
}

.unchecked {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 0.125rem;
    color: var(--light-grey);
    background-color: var(--light-grey);
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.progressRoot {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 1rem;
}

.progressBar {
    width: 100px;
    margin-right: 1rem;
}

.fieldContainer {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}
