.helpSectionContainer {
  background-color: var(--white-color);
  position: fixed;
  top: 2.54rem;
  right: 0;
  max-height: calc(100vh - 3.438rem);
  display: flex;
  flex-direction: column;
  transition:
      width 0.3s ease,
      transform 0.3s ease;
  box-shadow: var(--drop-shadow-small);
  z-index: 51;
}

.helpSectionContainer p {
  word-wrap: break-word;
}

.expanded {
  width: 25rem;
}

.collapsed {
  width: 3rem;
  height: 100%;
}

.toggleButton {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  left: -0.625rem;
  top: 0.875rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonIcon {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.buttonIcon.expanded {
  transform: rotate(0deg);
}

.buttonIcon.collapsed {
  transform: rotate(180deg);
}

.arrowIcon {
  color: var(--white);
  border-radius: 3.125rem;
  height: 1em;
}

.tabContainer {
  background-color: var(--white-color);
  box-shadow: var(--drop-shadow-small);
  height: 3.063rem;
}

.tabMenus {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.menusNames {
  margin: 15px;
}

.contentContainer {
  padding: 1rem;
  flex-grow: 1;
  overflow-y: auto;
}

.section {
  color: inherit;
  opacity: 0.1;
}

.section.highlighted {
  color: orange;
  opacity: 1;
}