.datasetCard {
  margin-bottom: 0.7rem;
}

.card {
  box-shadow:
    0rem 0rem 0.125rem rgba(0, 0, 0, 0.1),
    0rem 0.125rem 0.5rem rgba(0, 0, 0, 0.1) !important;
  width: 100%;
  padding: 0rem;
}

.draftStateCard {
  padding: 0.2rem 1rem 0.2rem 1rem !important;
}

.gridItem,
.name {
  display: flex;
  border-right: 0.09rem solid var(--light-grey);
  flex-grow: 1 !important;
  text-align: center;
  justify-content: center;
  width: 2rem;
  height: 3rem;
}

.gridItem.noBorder {
  border-right: none;
}

.volume {
  width: 0.01rem;
}

.label {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.name {
  display: flex;
  text-align: left;
  justify-content: left;
}

.menuo {
  box-shadow: none !important;
}

.menuIcons {
  padding-right: 1rem;
}

.draftState {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
.draftName {
  display: flex;
  justify-content: flex-start;
  width: 10%;
  height: 1rem;
}

.draftStatus {
  text-align: center;
  width: 15%;
  height: 1rem;
}

.draftCompletion {
  text-align: left;
  justify-content: flex-start;
  width: 60%;
  padding-left: 1rem;
}

.hyphen {
  padding: 0rem 0.2rem 0rem 0.2rem;
}
