.container{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
}

.buttonSample{
    font-size: 1.25rem;
    padding: 0.5rem;
}

.exploreMore{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.filterInvalid{
    line-height: 0;
    display: flex;
    margin-top: 0.5rem;
}

.sampleFilter{
    border: 1px solid var(--sample-filter-border);
    margin-top: 0.5rem;
}

.sampleFilterQueryFont{
    font-size: 0.75rem;
}

.sampleFilterQueryFontContainer{
    margin-left: 0.5rem;
}

.sampleQuery{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.copyButton{
    padding: 1rem;
}