.appContainer {
  display: flex;
  height: 100vh;
}

.mainContainer {
  flex-grow: 1;
  margin-top: 2.5rem;
  padding: 1rem 0 1rem 0;
  transition: margin-left 0.3s ease;
  height: calc(100vh - 3.7rem);
}

.expanded .mainContainer {
  margin-left: 16rem;
  width: 65rem;
}

.collapsed .mainContainer {
  margin-left: 3.75rem;
}
