.container{
    padding: 1rem;
}

.box{
    padding: 1rem;
}

.stepper{
    margin-top: 1rem;
}

.tableNavigation{
    margin-bottom: 0.5rem;
}

.tableNavigationBox{
    display: flex;
    margin-top: 1rem;
}

.tableDetails{
    padding: 1rem;
}

.tableDetailsContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}